#container {
    display: grid;
    grid-template-columns: 320px 320px;
    width: 640px;
    font-size: 48px;
    margin:100px auto 50px auto;
}

input {
    font-size: 36px;
    text-indent: 12px;
}

button {
    font-size: 18px;
    display:block;
    margin:0 auto;
    padding: 10px;
}

div#sDiv{
    text-align: center;
}